html {
    height: 100%;
    font-family: 'Poiret One', cursive;
}

body {
    background-image: url('../images/cat.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    /*background-color: rgb(118, 170, 187);*/
    background-blend-mode: luminosity;
    color: #fff;
}

body, p {
    font-size: 5em;
    mix-blend-mode: overlay;
}

h1 {
    margin: 0;
}

#container {
    padding: 15px;
}
