html {
    height: 100%;
    font-family: 'Poiret One', cursive;
}

body {
    background: url("../images/pattern.png"),linear-gradient(to left,#6587c5,#dc9224);
    background-blend-mode: luminosity;
    color: #fff;
}

body, p {
    font-size: 5vw;
    mix-blend-mode: hard-light;
    word-wrap: break-word;
}

h1 {
    margin: 0;
}

#container {
    padding: 15px;
}

@media only screen and (max-device-width: 768px) {
    body, p {
        font-size: 11vw;
    }
}
