html {
    height: 100%;
    font-family: 'Poiret One', cursive;
}

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /*background-color: rgb(118, 170, 187);*/
    background-blend-mode: luminosity;
    color: #fff;
    background-attachment: fixed;
}

body, p {
    font-size: 5vw;
    mix-blend-mode: hard-light;
    word-wrap: break-word;
}

h1 {
    margin: 0;
}

#container {
    padding: 15px;
}

@media only screen and (max-device-width: 768px) {
    body, p {
        font-size: 12vw;
    }
}
